symbol{overflow:visible;}

#svg {
	cursor: none;
	pointer-events: none;
	position:absolute;
}

svg text {
	font-family: sans-serif;
	text-anchor: start;
	font-size: 12px;
	fill: #0f151f;
	pointer-events: none;
	cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

svg text::selection {
    background: none;
}

symbol{overflow:visible;}

.clickable {
    cursor: pointer;
    pointer-events: auto;
}
.clickable:hover{
	fill-opacity: 0.75;
	stroke-opacity: 0.75;
}
.clickstroke {
	cursor: pointer;
	pointer-events: auto;
}
.clickstroke:hover{
	stroke-width: 2;
	stroke-opacity: 0.75;
}
.clickableplain {
	cursor: pointer;
	pointer-events: auto;
}
.clickinvis {
	cursor: pointer;
	pointer-events: auto;
}
.clickinvis:hover {
	stroke-opacity: 0.75;
}
.notclickable {
	cursor: none;
	pointer-events: none;
}

.invisiblebtn {
	fill: #00fff0;
	stroke: none;
	stroke-width: 0;
}
.veryinvisiblebtn {
	fill: #eafffe;
	stroke: none;
	stroke-width: 0;
}
.invisiblefield {
	fill: #c9e4f4;
	stroke: none;
	stroke-width: 0;
}

.fred {
	fill: #ee2121;
}
.forange {
	fill: #FF9800;
}
.fyellow {
	fill: #FFEB3B;
}
.fgreen {
	fill: #31a435;
}
.fblue {
	fill: #3251f0;
}
.findigo {
	fill: #673AB7;
}
.fviolet {
	fill: #9C27B0;
}

.dc0 {
    fill: #ec918c;
}
.dc1 {
    fill: #f7b4ac;
}
.dc2 {
    fill: #f5c894;
}
.dc3 {
    fill: #f6e585;
}
.dc4 {
    fill: #8ec679;
}
.dc5 {
    fill: #00916a;
}
.dc6 {
    fill: #59b2c2;
}
.dc7 {
    fill: #7da3e2;
}
.dc8 {
    fill: #6f78c4;
}
.dc9 {
    fill: #6d64a3;
}
.dc10{
    fill: #f4fcff;
}
.dctemp1{
    fill: #4b555c;
}
.dctemp2{
    fill: #298e8e;
}

.clr00 {
    fill: #ff3333;
}
.clr01 {
    fill: #fe9034;
}
.clr02 {
    fill: #ffbb36;
}
.clr03 {
    fill: #fedb35;
}
.clr04 {
    fill: #ffff33;
}
.clr05 {
    fill: #b6f134;
}
.clr06 {
    fill: #35d534;
}
.clr07 {
    fill: #34afb1;
}
.clr08 {
    fill: #4266be;
}
.clr09 {
    fill: #6343c0;
}
.clr10 {
    fill: #8e39bd;
}
.clr11 {
    fill: #da3191;
}
.clr12 {
    fill: #ff999c;
}
.clr13 {
    fill: #ffc79a;
}
.clr14 {
    fill: #fedc98;
}
.clr15 {
    fill: #ffed98;
}
.clr16 {
    fill: #ffff99;
}
.clr17 {
    fill: #d9f89b;
}
.clr18 {
    fill: #9aeb99;
}
.clr19 {
    fill: #9bd5d6;
}
.clr20 {
    fill: #a1b3dd;
}
.clr21 {
    fill: #b3a2d5;
}
.clr22 {
    fill: #c69edd;
}
.clr23 {
    fill: #ed98c7;
}
.clr24 {
    fill: #202020;
}
.clr25 {
    fill: #e7e7e7;
}
.clr26 {
    fill: #5363aa;
}
.clr27 {
    fill: #898b94;
}

.fpink {
	fill: #f15ce2;
}
.fturqoise {
	fill: #008096;
}
.fbrown {
	fill: #795548;
}
.fbluemedium {
	fill: #244676;
}
.fbluedark {
	fill: #162d4d;
}
.fgraphite {
    fill: #251607;
}
.fgraphitelight {
    fill: #373327;
}
.fwhite2 {
    fill: #f8fbf1;
}
.fwhite3 {
    fill: #f4f9f5;
}

.foffwht {
	fill: #faf1e1;
}
.soffwht {
	stroke: #faf1e1;
}
.fdarkpurple {
	fill: #3b005e;
}
.fillindiapurple {
	fill: #3d2d5c;
}
.filllightpurple {
	fill: #665685;
}
.fillindialightpurple {
	fill: #50416e;
}
.fgrey {
	fill: #383f4d;
}
.fdarkgrey {
	fill: #303030;
}
.sdarkgrey {
	stroke: #303030;
}
.fgridgrey {
	fill: #9c9c9c;
}
.fblack {
	fill: #202020;
}
.filldkred {
	fill: #9e0e1a;
}
.fillgreen {
	fill: #009e49;
}
.sdarkblue {
	stroke: #1b3555;
}
.flightgrey {
	fill: #e0e0e0;
}

.fnavy {
    fill: #0e0a4f;
}
.fmediumblue{
    fill: #30348b;
}
.fdeepblue{
    fill: #160f67;
}
.fmediumpurple{
    fill: #51457c;
}
.fdeeppurple{
    fill: #2f2066;
}
.fmediumorange{
    fill: #a2561d;
}
.fdarkorange{
    fill: #a14905;
}
.fdeepred{
    fill: #7d0404;
}
.fdeepgreen{
    fill: #2b4d29;
}

.f00 {
    fill: #041433;
}
.f01 {
    fill: #142443;
}
.f02 {
    fill: #253d6d;
}
.f03 {
    fill: #821b1b;
}
.f04 {
    fill: #730505;
}
.f05 {
    fill: #1b3555;
}
.f06 {
    fill: #6f7792;
}
.f07 {
    fill: #9c8a38;
}
.f08 {
    fill: #00916a;
}
.f08a {
    fill: #90d6c4;
}
.f09 {
    fill: #581b58;
}
.f10 {
    fill: #0c3737;
}
.f11 {
	fill: #696969;
}
.f22 {
    fill: #e0ede2;
}

.blankbtn {
	fill: #d3e9e8;
	stroke: #170a58;
	stroke-width: 1;
}
.blankbtnnoline {
	fill: #d3e9e8;
	stroke: none;
	stroke-width: 0;
}
.blankspot {
	stroke: #383f4d;
	fill: #ecfeff;
}
.blanktextcolor {
	fill: #f0fffe;
}
.fillblanktext {
	fill: #cddbdb;
}
.filldigittext {
	fill: #383f4d;
}
.fblankline {
	fill: #383f4d;
}
.ddmenu {
	fill: #436c6a;
	stroke: #7dbdba;
	stroke-width: 1;
}
.dditem {
	fill: #a5cdcb;
	stroke: none;
}
.dditemover {
	fill: #d2eae9;
	stroke: none;
}

.txs {
    text-anchor: start;
  }
.txc {
    text-anchor: middle;
 }
.txe {
    text-anchor: end;
}

.fawe {
    font-family: FontAwesome;
}
.fsan {
    font-family: sans-serif;
}
.ftimes {
    font-family: Times New Roman;
}
.fver {
    font-family: Verdana;
}
.fcor {
    font-family: 'Courier New', Courier, monospace;
}

.txi {
    font-style: italic;
}
.txu {
    text-decoration: underline;
}
.txst {
    text-decoration: line-through;
}
.txn {
    font-weight: normal;
}
.txb {
    font-weight: bold;
}

.fa-green {
	font-family: FontAwesome;
	font-size: 13px;
	text-anchor: left;
	fill: #24763a;
}
.fa-red {
	font-family: FontAwesome;
	font-size: 13px;
	text-anchor: left;
	fill: #920000;
}
.fa-grey {
	font-family: FontAwesome;
	font-size: 13px;
	text-anchor: left;
	fill: #2b3344;
}
.fagrey {
    fill: #2b3344;
}
.fared {
    fill: #920000;
}
.fagreen {
    fill: #24763a;
}
.fawe {
	font-family: FontAwesome;
}
  
.tx6 {
    font-size: 6px;
}
.tx7 {
    font-size: 7px;
}
.tx8 {
    font-size: 8px;
}
.tx9 {
    font-size: 9px;
}
.tx10 {
    font-size: 10px;
}
.tx11 {
    font-size: 11px;
}
.tx12 {
    font-size: 12px;
}
.tx13 {
    font-size: 13px;
}
.tx14 {
    font-size: 14px;
}
.tx15 {
    font-size: 15px;
}
.tx16 {
    font-size: 16px;
}
.tx18 {
    font-size: 18px;
}
.tx20 {
    font-size: 20px;
}
.tx22 {
    font-size: 22px;
}
.tx24 {
    font-size: 24px;
}
.tx28 {
    font-size: 28px;
}
.tx30 {
    font-size: 30px;
}
.tx31 {
    font-size: 31px;
}
.tx32 {
    font-size: 32px;
}
.tx36 {
    font-size: 36px;
}
.tx42 {
    font-size: 42px;
}
.tx44 {
    font-size: 44px;
}
.tx48 {
    font-size: 48px;
}
.tx54 {
    font-size: 54px;
}
.tx64 {
    font-size: 64px;
}
.tx72 {
    font-size: 72px;
}
.tx84 {
    font-size: 84px;
}
.tx96 {
    font-size: 96px;
}
.tx128 {
    font-size: 128px;
}


.waremain {
	fill: #f9f9f9;
	stroke: #454545;
	stroke-width: 1;
	stroke-linecap: round;
}
.wareline {
	fill: none;
	stroke: #454545;
	stroke-width: 1;
	stroke-linecap: square;
}
.warewhite {
	fill: #ffffff;
	stroke: #454545;
	stroke-width: 1;
	stroke-linecap: round;
}
.warewhitetwo {
	fill: #e0f4e0;
	stroke: #454545;
	stroke-width: 1;
	stroke-linecap: round;
}
.waregreen {
	fill: #b2d22e;
	stroke: #617709;
	stroke-width: 2;
	stroke-linecap: round;
}
.warewindow {
	fill: #f4fdff;
	stroke: #454545;
	stroke-width: 1;
	stroke-linecap: round;
}
.waresuccess{
	fill: #c6f4b3;
	stroke: #454545;
	stroke-width: 1;
	stroke-linecap: round;
}
.wareshade {
	fill: #a6b5b8;
	stroke: #454545;
	stroke-width: 1;
	stroke-linecap: round;
}
.warewall {
	fill: #fff4eb;
	stroke: #454545;
	stroke-width: 0.5;
	stroke-linecap: round;
}
.warestep {
	fill: #d2d0d0;
	stroke: #c9c2c2;
	stroke-width: 0.5;
	stroke-linecap: round;
}

