
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

header {
  background: #5B668F;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #FFFFFF;
;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #000000;
}

.big-logo{
  font-size: 50px;
  font-family:'Roboto';
  color:#000000;
}

.town-logo{
  font-family: "Roboto","";
}

.stuff {
  text-align: center;

}

.nav-names{
  text-align: center;

}

.pages-hanover{
  text-align: left;
  float:left;
}

#player_list{
  text-align: center;
  list-style-type: none;
}

.school-logo{
  float:left;
  width:115px;
  height:65px;
}

.home-image{
  width:1524px;
  height:485px;
}

.instagram-logo{
  width:200px;
  height:200px;
}

.player-photo{
  width:200px;
  height: 250px;
}

h2{
  color: blue;
}

.sources-page{
  text-align:center;
}

p{
  text-align: center;
}
