
.pages{
  list-style-type: none;
  justify-content: left;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #5B668F;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #FFFFFF;
;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #FFFFFF;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #000000
  ;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}



.big-logo{
  font-size: 50px;
  font-family:'Roboto';
  color:#000000;

}

.town-logo{
  font-family: "Roboto","";
}

.stuff {
  text-align: center;

}

.nav-names{
  text-align: center;

}

.pages-hanover{
  text-align: left;
  float:left;
}

.player-list{
  list-style-type: none;
  

}

.school-logo{
  float:left;
  width:115px;
  height:65px;
}

.home-image{
  width:1524px;
  height:485px;
}

.instagram-logo{
  width:200px;
  height:200px;
}