body {
    background-image: url('https://wallpapers.com/images/featured/physics-equations-hhfm2y8rzzb86bah.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

h2 {
    color: darkblue;
}

form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.title{
    text-align: center;
    color: black;
    border-color: black;
    border-style: double;
    border-width: 6px;
    background-color: lightgrey;
}




